[maxscale]
threads=auto

[Shard1-Monitor]
type=monitor
module=mariadbmon
servers=shard1-node1
user=maxscale
password=maxscale_password
monitor_interval=2000

[Shard2-Monitor]
type=monitor
module=mariadbmon
servers=shard2-node1
user=maxscale
password=maxscale_password
monitor_interval=2000

[shard1-node1]
type=server
address=master1
port=3306
protocol=MariaDBBackend

[shard2-node1]
type=server
address=master2
port=3306
protocol=MariaDBBackend

[Shard1-Service]
type=service
router=readconnroute
router_options=master
servers=shard1-node1
user=maxscale
password=maxscal_password

[Shard2-Service]
type=service
router=readconnroute
router_options=master
servers=shard2-node1
user=maxscale
password=maxscale_password

[Shard1-Listener]
type=listener
service=Shard1-Service
protocol=MariaDBClient
port=4006

[Shard2-Listener]
type=listener
service=Shard2-Service
protocol=MariaDBClient
port=4007

