[shard1_server]
type=server
address=db-shard1
port=3306
protocol=MariaDBBackend

[shard2_server]
type=server
address=db-shard2
port=3306
protocol=MariaDBBackend

[shard1_monitor]
type=monitor
module=galeramon
servers=shard1_server
user=maxscale_user
password=maxscale_pass
monitor_interval=1000ms

[shard2_monitor]
type=monitor
module=galeramon
servers=shard2_server
user=maxscale_user
password=maxscale_pass
monitor_interval=1000ms

[shard1_service]
type=service
router=readconnroute
servers=shard1_server
user=maxscale_user
password=maxscale_pass
router_options=master

[shard2_service]
type=service
router=readconnroute
servers=shard2_server
user=maxscale_user
password=maxscale_pass
router_options=master

[shard1_listener]
type=listener
service=shard1_service
protocol=MariaDBClient
port=4006

[shard2_listener]
type=listener
service=shard2_service
protocol=MariaDBClient
port=4007
